certs
certs.bak
httpbin-certs
mysql-certs
mysql-eks-certs/
mtls-go-example
.DS_Store
.idea/
asm-dir
istio-*-asm.*/
*.tar.gz
**/*.tar.gz
save
!server/httpbin-server/httpbin.yaml
server/httpbin-server/*.yaml
client/httpbin-client/*.yaml
!server/mysql-server/mysql.yaml
server/mysql-server/*.yaml
client/mysql-client/*.yaml
/env-vars
local-bin
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.*
.terraform
terraform.tfvars
