name: kustomize-ci
on:
  push:
    branches:
      - main
  pull_request:
    types: 
      - closed
jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        # directories with which we want to generate combined yaml manifest
        shared-starts: [
          'shared/online-boutique-asm-manifests/base',
          'shared/online-boutique-asm-manifests/service-accounts'
        ]
    steps:
      - uses: actions/checkout@v3
        with: 
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - name: kustomize build and create to PR
        env:
          KUSTOMIZE_DIR: ${{ matrix.shared-starts }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo $GITHUB_WORKSPACE,$KUSTOMIZE_DIR
          FOLDER_NAME=$(echo $KUSTOMIZE_DIR | awk -F/ '{print $NF}')
          echo $FOLDER_NAME
          kustomize build $KUSTOMIZE_DIR > shared/kubernetes-$FOLDER_NAME.yaml
          git config --global user.email "yoshi-code-bot@google.com"
          git config --global user.name "Yoshi Code Bot" 
          git checkout -b run-ci
          
          git add .

          if [  $(git status --porcelain | wc -l) -eq "0"  ]; then
            git commit -m "CI kustomize file"
            git push -u origin run-ci 
            gh pr create --title "CI kustomize run" --body "`kustomize build`" --base main 
          fi
          echo "Complete ci"
